<aside class="sidebar">
    <h2>목차</h2>
    <ul>
        {% assign modules = site.data.sidebar_structure %}
        {% if modules %}
        {% for module_name, submodules in modules %}
        <li>
            <a href="#">{{ module_name }}</a>
            {% if submodules.size > 0 %}
            <ul>
                {% for submodule in submodules %}
                <li>{{ submodule }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
        {% else %}
        <li>모듈이 없거나 데이터가 로드되지 않았습니다.</li>
        {% endif %}
    </ul>
</aside>