<aside class="sidebar">
    <h2>목차</h2>
    <ul>
        {% assign modules = site.data.sidebar_structure %}
        <pre>{{ modules | jsonify }}</pre>
        {% if modules %}
        {% for module_name in modules %}
        <li>
            <pre>{{module_name}}</pre>
            <pre>{{modules}}</pre>
            <a href="#">{{ module_name }}</a>
            <ul>
                {% assign submodules = modules[module_name] %}
                {% for submodule in submodules %}
                <li>{{ submodule }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        {% else %}
        <li>No modules found or data not loaded.</li>
        {% endif %}
    </ul>
</aside>