<!-- 기존 고정 메뉴 -->
<aside>
  <div class="sidebar">
    <h1 class="sidebar-title">📚 Index</h2>

    <nav class="main-links">
      {% for item in site.data.sidebar.main %}
        <a href="{{ item.url }}" class="nav-item {% if page.url == item.url %}active{% endif %}">
          {{ item.title }}
        </a>
      {% endfor %}
    </nav>

    <hr class="sidebar-divider">
    <h3> 📔 Engineering</h3>
    {% for item in site.data.sidebar.blog %}
    <details class="sidebar-group">
      <summary class="toggle-text">
        <a href="{{ item.url }}">
          - {{ item.title }}
        </a>
      </summary>
    </details>
    {% endfor %}
    <hr class="sidebar-divider">
    <h3> 👩🏻‍💻 Algorithm List</h3>
    <!-- 자동 알고리즘 -->
    {% for platform in site.data.sidebar.algorithm %}
    <details class="sidebar-group">
      <summary class="toggle-text"> - {{ platform[0] }}</summary>
      <ul>
        {% for tier in platform[1] %}
        <li>
          <a href="/algorithm/{{ platform[0] }}/{{ tier }}/">
             - {{ tier }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </details>
    {% endfor %}
    <hr class="sidebar-divider">
    <h3> 🗂️ Side Projects</h3>
    {% for item in site.data.sidebar.sideprojects %}
    <details class="sidebar-group">
      <summary class="toggle-text">
        <a href="{{ item.url }}">
          - {{ item.title }}
        </a>
      </summary>
    </details>
    {% endfor %}
    <hr class="sidebar-divider">
    <h3> 🛠️ Coming soon</h3>
    <hr class="sidebar-divider">
  </div>
</aside>