<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <header>
        <div class="header-content">
            <h1>{{ site.title }}</h1>
            <p>{{ site.description }}</p>
            <a href="{{ '/' | relative_url }}" class="home-button">🏠 홈으로</a>
        </div>
    </header>
    <div class="container">
        {% include sidebar.html %}
        <main class="content">
            {{ content }}
        </main>
    </div>
    <footer>
        <p>© 2024 Kimsc9976</p>
    </footer>
</body>


</html>